Repository bcpearce/HomeAssistant-Amcrest-Custom: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_version, hassfest, pytest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-added-large-files
    - id: check-json
    - id: check-toml
    - id: pretty-format-json
      args:
        - --autofix
        - --top-keys=domain,title,name
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
    - id: ruff
      args: [ --fix ]
    - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.14.1'  # Use the sha / tag you want to point at
    hooks:
    -   id: mypy
        additional_dependencies:
          - homeassistant
          - pytest
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    - id: codespell
      exclude: "^tests/fixtures/mock_responses"
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
    - id: actionlint
  - repo: local
    hooks:
      - id: check_version
        name: check_version
        language: system
        entry: python hooks/check_version.py
        files: ^(custom_components/.+/manifest\.json|pyproject\.toml|uv\.lock)$
      - id: hassfest
        name: hassfest
        language: system
        entry: sh hooks/hassfest.sh
        files: ^(custom_components/.+/(icons|manifest|strings)\.json|custom_components/.+/translations/.+\.json|custom_components/.+/(quality_scale)\.yaml|custom_components/brands/.*\.json|custom_components/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py|requirements.+\.txt)$
      - id: pytest
        name: pytest
        language: system
        entry: sh hooks/runtests.sh
        files: ^(custom_components/.*\.py|tests/.*\.py)$

ci:
  skip: [ hassfest, pytest, mypy, check_version ]

Update issue templates (#2)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

added light
  coverage.svg
  custom_components/amcrest/light.py
Due: pytest

update amcrest-api
  .pre-commit-config.yaml
  custom_components/amcrest/manifest.json
  pyproject.toml
Due: check_version, hassfest

update uv and uv.lock
  .github/workflows/test.yaml
  uv.lock
Due: check_version

update pre-commit
  .pre-commit-config.yaml
Due: none

deduplicate PR push Actions
  .github/workflows/test.yaml
Due: none

deduplicate PR push Actions
  .github/workflows/hacs.yaml
  .github/workflows/hassfest.yaml
Due: none

Update amcrest-api to allow missing SD Card (#8)
  .github/workflows/hacs.yaml
  .github/workflows/hassfest.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  custom_components/amcrest/manifest.json
  pyproject.toml
  uv.lock
Due: check_version, hassfest

update version
  custom_components/amcrest/manifest.json
  pyproject.toml
  requirements.txt
  uv.lock
Due: check_version, hassfest

update version (#9)
  custom_components/amcrest/manifest.json
  pyproject.toml
  requirements.txt
  uv.lock
Due: check_version, hassfest

bump amcrest-api version
  custom_components/amcrest/manifest.json
  pyproject.toml
  requirements.txt
  uv.lock
Due: check_version, hassfest

bump amcrest-api version (#11)
  custom_components/amcrest/manifest.json
  pyproject.toml
  requirements.txt
  uv.lock
Due: check_version, hassfest

Update README.md
  README.md
Due: none

Update README.md (#12)
  README.md
Due: none

update Amcrest-API
  custom_components/amcrest/manifest.json
  pyproject.toml
  requirements.txt
  uv.lock
Due: check_version, hassfest

update Amcrest-API (#13)
  custom_components/amcrest/manifest.json
  pyproject.toml
  requirements.txt
  uv.lock
Due: check_version, hassfest

update amcrest-api
  custom_components/amcrest/manifest.json
  pyproject.toml
  requirements.txt
  uv.lock
Due: check_version, hassfest

update amcrest-api (#14)
  custom_components/amcrest/manifest.json
  pyproject.toml
  requirements.txt
  uv.lock
Due: check_version, hassfest

Allow no privacy mode
  .github/workflows/test.yaml
  README.md
  coverage.svg
  custom_components/amcrest/camera.py
  custom_components/amcrest/manifest.json
  custom_components/amcrest/switch.py
  hooks/runtests.sh
  pyproject.toml
  requirements.txt
  tests/conftest.py
  tests/const.py
  tests/test_init.py
  tests/utils.py
  uv.lock
Due: check_version, hassfest, pytest

Allow no privacy mode (#24)
  .github/workflows/test.yaml
  README.md
  coverage.svg
  custom_components/amcrest/camera.py
  custom_components/amcrest/manifest.json
  custom_components/amcrest/switch.py
  hooks/runtests.sh
  pyproject.toml
  requirements.txt
  tests/conftest.py
  tests/const.py
  tests/test_init.py
  tests/utils.py
  uv.lock
Due: check_version, hassfest, pytest

Allow no smart track
  custom_components/amcrest/coordinator.py
  custom_components/amcrest/manifest.json
  custom_components/amcrest/switch.py
  pyproject.toml
  requirements.txt
  tests/conftest.py
  tests/const.py
  tests/test_init.py
  uv.lock
Due: check_version, hassfest, pytest

Allow no smart track (#25)
  custom_components/amcrest/coordinator.py
  custom_components/amcrest/manifest.json
  custom_components/amcrest/switch.py
  pyproject.toml
  requirements.txt
  tests/conftest.py
  tests/const.py
  tests/test_init.py
  uv.lock
Due: check_version, hassfest, pytest

Only poll PTZ status if the device is PTZ
  custom_components/amcrest/coordinator.py
Due: pytest

Update manifest/version
  custom_components/amcrest/manifest.json
  pyproject.toml
  uv.lock
Due: check_version, hassfest

Do not poll PTZ status on non-PTZ cameras (#27)
  custom_components/amcrest/coordinator.py
  custom_components/amcrest/manifest.json
  pyproject.toml
  uv.lock
Due: check_version, hassfest, pytest

Make pre-commit-ci updates monthly and exclude from release notes
  .github/release.yml
  .pre-commit-config.yaml
Due: none

Make pre-commit-ci updates monthly and exclude from release notes (#28)
  .github/release.yml
  .pre-commit-config.yaml
Due: none

Update author exclusion format in release.yml
  .github/release.yml
Due: none

Update author exclusion format in release.yml (#29)
  .github/release.yml
Due: none

Gracefully fail update
  custom_components/amcrest/coordinator.py
  custom_components/amcrest/select.py
Due: pytest

Make light status a TODO
  custom_components/amcrest/coordinator.py
Due: pytest

Disable lighting updates and add TODO
  custom_components/amcrest/coordinator.py
Due: pytest

Update version
  custom_components/amcrest/manifest.json
  pyproject.toml
  uv.lock
Due: check_version, hassfest

Gracefully fail update endpoints (#30)
  custom_components/amcrest/coordinator.py
  custom_components/amcrest/manifest.json
  custom_components/amcrest/select.py
  pyproject.toml
  uv.lock
Due: check_version, hassfest, pytest

Fix TypeError on select update
  custom_components/amcrest/select.py
Due: pytest

Fix TypeError on select update (#31)
  custom_components/amcrest/select.py
Due: pytest

Update version (#32)
  custom_components/amcrest/manifest.json
  pyproject.toml
  uv.lock
Due: check_version, hassfest

Fix URL Serialization
  custom_components/amcrest/config_flow.py
  custom_components/amcrest/manifest.json
  pyproject.toml
  uv.lock
Due: check_version, hassfest, pytest

Fix URL Serialization (#33)
  custom_components/amcrest/config_flow.py
  custom_components/amcrest/manifest.json
  pyproject.toml
  uv.lock
Due: check_version, hassfest, pytest
